{%extends 'index.html'%}
{%load static%}
{%load bootstrap4%}
{%block body%}
<div class="hero-wrap hero-wrap-2" style="background-image: url('static/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-start">
        <div class="col-md-12 ftco-animate text-center mb-5">
            <p class="breadcrumbs mb-0"><span class="mr-3"><a href="">Home<i class="ion-ios-arrow-forward"></i></a></span> <span>Contact</span></p>
          <h1 class="mb-3 bread">DashBoard</h1>
        </div>
      </div>
    </div>
</div>
<section style="background-color:whitesmoke;">
  <div class="container py-5">
    <div class="row">
        <div class="col">
          {%include 'include/nav_bar.html'%}
        </div>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Category</th>
            <th scope="col">Title</th>
            <th scope="col">Owner</th>
            <th scope="col">Company</th>
            <th scope="col">Date</th>
            <th scope="col">Actione</th>
          </tr>
        </thead>
        <tbody>
            {%for j in job%}
              <tr>
                <th scope="row">{{j.id}}</th>
                <td>{{j.Category.name}}</td>
                <td>{{j.Title}}</td>
                <td>{{j.Owner.first_name}}</td>
                <td>{{j.Company}}</td>
                <td>{{j.Pulished_at|date:'F M Y'}}</td>
                <td><a href="{%url 'JobDelete'  j.id %}" class="btn btn-danger">Delete</a></td>
              </tr>
            {%endfor%}
        </tbody>
    </table>
    {%if job.has_other_pages %}
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          {% if job.has_previous %}
            <li class="page-item disabled">
              <a class="page-link" href="?page={{job.previous_page_number}}" tabindex="-1">Previous</a>
            </li>
          {%endif%}
          {%for i in job.paginator.page_range%}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
          {%endfor%}
          {% if job.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{job.next_page_number}}">Next</a>
            </li>
          {%endif%}
        </ul>
      </nav>
    {%endif%}
  </div>
</section>
{%endblock%}